/* General */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: black;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  font-size: 1.75rem;
  background: #1d1f1d;
}

.main-grid {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

/*Display*/
.display {
  display: flex;
  grid-column: span 4;
  background: #1d1f1d;
  width: 100%;
  justify-content: flex-end;
}

.blink {
  animation: blinker 1.3s linear infinite;
}

@keyframes blinker {
  40% { opacity: 10%; }
}

.equation-small,
.equation-big {
  padding: 0.3em 0.5em 0.1em 0;
  color: white;
  font-size: 4.5rem;
}

.equation-small {
  font-size: 2.75rem;
}

/* Button */
.button {
  margin: 0;
  padding-top: 0.35em;
  text-align: center;
  border: 1px solid black;
  background: #ffffff;
}

.fa-backspace {
  color: #5e5c5c;
}

.row-2 {
  background: #d1d1d1;
}

.column-4 {
  background: #24bd24;
}

/*Media Query*/
@media (min-width: 650px) {
  .equation-big {
    font-size: 5.75rem;
  }

  .equation-small {
    font-size: 4rem;
  }

}
